.footer-wrapper{
    background-color: $c-blue;
    border-top: 5px solid #e3e3e9;
    font-family: $font-primary;
    color: #fff;
    a{
        color: #fff;
       
    }
    .footer-main{
        &__info{
            figure{
                max-width: 32rem;
            }
            .info-item{
                ul{
                    li:not(:last-child){
                        margin-bottom: 1.2rem;
                    }
                }
            }
            .info-social{
                margin-top: 12px;
                ul{
                    display: flex;
                    li{
                        a{
                            border: 1px solid #fff;
                            padding: 7px 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            i{
                                margin-top: 2px;
                                font-size: 18px;
                            }
                        }
                        .fb{
                            background: #104f94;
                        }
                        .tw{
                            background: #1da1f2;
                        }
                        .utube{
                            background: #c30000;
                        }
                    }
                    li:not(:last-child){
                        margin-right: 10px;

                    }
                }
            }
        }
        &__map{
            .map-item{
                ul{
                    li:not(:last-child){
                        margin-bottom: 1.2rem;
                    }
                    a{
                        
                        &:hover{
                            color: $c-orange;
                        }
                        transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
}
                }
                
            }
        }
        .footer-sub{
            .qr-code{
                figure{
                    img{
                        max-width: 12.4rem;
                    }
                }
                ul{
                    li{
                        margin: 5px 0;
                        a{
                            font-weight: bold;
                        }
                    }
                }
            
            }
        

        }
    }
    .footer-copyright{
        border-top: 1px solid #e3e3e9;
        p{
            margin-bottom: 0;
        }
        ul{
            display: flex;
            li:not(:last-child){
                margin-right: 12px;
            }
            a{
                &:hover{
                    color: $c-orange;
                }
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
}
        }
    }
}

@include Responsive(PHONE){
    .footer-wrapper .footer-main .collapse:not(.show){
        display: none !important;
    }
    .footer-wrapper .footer-copyright__inner-img{
        text-align: center;
    }

}

@include Responsive(IPAD){ 

}

@include Responsive(IPADPRO){
}