.footer-wrapper{
    background-color: #f5f5f7;
    border-top: 5px solid #e3e3e9;
    .footer-cover{
        padding: 20px 0;
        border-bottom: 1px solid #e3e3e9;
        .footer-logo{
            display: flex;
            height: 100%;
            align-items: center;
            img{
                height: 60px;
                width: auto;
                object-fit: cover;
            }
        }
        &__inner{
            height: 100%;
            >a{
                background: #fff;
                padding: 10px 30px 10px 10px;
                border-radius: 10px;
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                height: 100%;
                transition: all 0.3s ease;
                box-shadow: none;
                &:hover{
                    box-shadow: 0 7px 15px 0 rgba(#000, .15);;
                }
            }
            .cover-img{
                padding: 10px;
                background: $c-orange;
                border-radius: 10px;
                color: #fff;
                margin-right: 15px;
                svg{
                    height: 30px;
                    width: 30px;
                }
            }
            .cover-infor{
                display: flex;
                flex-direction: column;
                
            }
            .social-grid{
                display: flex;
                height: 100%;
                align-items: center;
                .social-item:not(:last-child){
                    margin-right: 10px;
                }
                .social-item{
                    border-radius: 10px;
                    max-width: 70px;
                    background: #fff;
                    padding: 17px 15px 13px;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 7px 15px 0 rgba(#000, .15);;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .footer-main{
        padding-top: 30px;
        padding-bottom: 30px;
        .collapse:not(.show){
            display: block !important;
        }
        .accordion-button::after{
            display: none;
        }
        .accordion-button:not(.collapsed){
            border: none;
            box-shadow: none;
            background-color:transparent;
            color: #000;

        }
        .accordion-button:focus{
            border: none;
            box-shadow: none;
            background-color: transparent;
            color: #000;
        }
        .accordion-item{
            border: none;
            background: transparent;
            .accordion-header{
                .accordion-button{
                    padding-left: 0;
                    padding-right: 0;
                    background: transparent;
                }
            }
            .accordion-body{
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
                ul{
                    padding: 0;
                    margin: 0;
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .footer-copyright{
        padding-top: 25px;
        padding-bottom: 20px;
        border-top: 1px solid #e3e3e9;
        &__inner{
            &-img{
                text-align: end;
                img{
                    height: 60px;
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 1023px){ 

}

@media (min-width: 1024px) and (max-width: 1366px){
}