
#menu{
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 45px;
  background: $c-black;
  height: 100vh;
  width: 100vw;
  right: -50%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  // For some sweet fadez
  visibility: hidden;
  width: 100%;
  &.open{
    right: 0;
    opacity: 1;
    visibility: visible;
}
}
.heading-main {
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .heading-wrapper {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar{
      @include Responsive (IPAD){
        width: 100%;
      }
    }
    .navbar-brand {
      img {
        max-width: 13.5rem;
      }
    }
    
    .navbar-toggler{
      border: none;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    .nav-menu {
      margin-left: 4rem;
      ul {
        display: flex;
        align-items: center;
        li {
          position: relative;
          padding: 1rem 2rem;
          & > a {
            color: #fff;
            position: relative;
            &::before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background: #fff;
              transform: translate(-50%,calc(-100% + 8px) );
              -webkit-transform: translate(-50%,calc(-100% + 8px) );
              -moz-transform: translate(-50%,calc(-100% + 8px) );
              -ms-transform: translate(-50%,calc(-100% + 8px) );
              -o-transform: translate(-50%,calc(-100% + 8px) );
              transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
}
           
            &:not(:only-child) {
              &:after {
                font-family: $font-awesome;
                content: "\f078";
                font-weight: 900;
                margin-left: 5px;
                font-size: 1rem;
                display: inline-block;
                vertical-align: middle;
                margin-top: -3px;
                transition:all 0.4s ease;
                -webkit-transition:all 0.4s ease;
                -moz-transition:all 0.4s ease;
                -ms-transition:all 0.4s ease;
                -o-transition:all 0.4s ease;
}
            }
          }

          & > ul {
            box-shadow: 1px 2px 10px 0 rgba(#000, 0.4);
            transition: all 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            min-width: 50vw;
            padding:5px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 10px;
            transform: translateY(120%);
            -webkit-transform: translateY(120%);
            -moz-transform: translateY(120%);
            -ms-transform: translateY(120%);
            -o-transform: translateY(120%);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            li{
            border-radius: 5px;
            padding: 5px 0;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            a
           
{
                display: flex;
                align-items: center;
                color: $c-primary;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                figure{
                  margin-right: 2rem;
                  margin-bottom: 0;
                  img{
                    
                  }
                }
                .content-menuhidden{
                  p{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                  }
                }
              }
              &:hover{
                background: $c-default;
                a{
                    color: #fff;
                }
            }
            }
          }
          &:hover {
            & > a{
              &::before{
                width: 100%;
              }
              &:not(:only-child) {
                &:after{
                  transform: rotate(-180deg);
                  -webkit-transform: rotate(-180deg);
                  -moz-transform: rotate(-180deg);
                  -ms-transform: rotate(-180deg);
                  -o-transform: rotate(-180deg);
}
              }

            }
            & > ul {
              opacity: 1;
              visibility: visible;
              transform: translateY(calc(100% + 1rem)) ;
              -webkit-transform: translateY(calc(100% + 1rem)) ;
              -moz-transform: translateY(calc(100% + 1rem)) ;
              -ms-transform: translateY(calc(100% + 1rem)) ;
              -o-transform: translateY(calc(100% + 1rem)) ;
}
          }
        }
      }
    }
    // Hamburger menu toggler stuff below
  .toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    height: $c-black;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 5px;
    z-index: 1;
    span {
      background-color: $c-black;
      content: '';
      display: block;
      height: 2px;
      left: calc(50% - 13px);
      position: absolute;
      top: calc(50% - 1px);
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
        transform 0.2s linear;
      width: 44px;
      &:before,
      &:after {
        background-color: $c-black;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        transform-origin: 50% 50%;
        transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
          transform 0.2s linear;
        width: 44px;
      }

      &:before {
        top: 5px;
      }

      &:after {
        top: -5px;
      }
    }

    &.active {
      span {
        background-color: transparent;
        transition: background 0.2s ease-out;

        &:before,
        &:after {
          background: #fff;
          transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
        }

        &:before {
          top: 0;
          transform: rotate3d(0, 0, 1, -45deg);
        }

        &:after {
          top: 0;
          transform: rotate3d(0, 0, 1, 45deg);
        }
      }
    }
  }

    
  }
  .btn-customer{
      a{
        background: $c-white;
        color: $c-default   ;
      }
  }
}

.sticky{
  background: $c-default;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  padding: 5px 1rem ;
  box-shadow: 1px 2px 10px 0 rgba(#000, 0.2);
}
