//SITE BANNER
.site-banner {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: $c-default;
  display: flex;
  align-items: center;
  &__wrapper {
    margin-top: 5rem;
  }
  .banner-content {
    padding: 2rem;
    .item-slide {
      &__wrapper {
        color: #fff;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        .description {
          p {
            font-size: 1.8rem;
            line-height: 2.8rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .banner-img {
    padding: 2rem;
  }
}
//SITE BANNER BOTTOM
.site-banner-bottom {
  position: relative;
  top: -70px;
  .item-bottom {
    text-align: center;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #f3f0f0;
    padding: 1.6rem 1.6rem 4rem;
    box-shadow: 0 2rem 4rem rgba($c-default, 0.3);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    &:hover{
      box-shadow: 1rem 1rem rgba($c-default, 0.5);
    }
    figure {
      padding: 1.5rem;
    }
    .content {
      p {
        color: $c-grey;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 8.4rem;
      }
    }
   
  }
}

//SITE PARTNER
//LINE
.line {
  width: 15%;
  height: 3px;
  border-radius: 1rem;
  background: $c-default;
  margin: 0 auto;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.site-partner {
  .partner-slide__item {
    figure {
      display: flex;
      justify-content: center;
      a {
        display: inline-flex;
        max-width: 18rem;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }
}

//SITE CASE
.site-case {
  background: $c-blue;
  color: #fff;
  .btn-prev {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 4.8rem;
    cursor: pointer;
    border: 1px solid $c-default;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    i{
      margin-right: 4px;
    }
    &:hover{
      background: $c-orange;
    }
}
  .btn-next {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    font-size: 4.8rem;
    cursor: pointer;
    border: 1px solid $c-default;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      margin-left: 4px;
    }
    transition: all 0.4s ease;

    &:hover{
      background: $c-orange;
    }
}
  .case-slide {
    z-index: 1;
    padding: 0 4rem;
    .case-item {
      margin: 0 1rem;
    

    }
  }
}

//SITE FEATURE
.main-feature {
  &__wrapper {
    .feature-item {
      background: #fff;
      padding: 2rem 3rem 2rem;
      border-radius: 1.5rem;
      border: 1px solid $c-default;
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      -ms-border-radius: 1.5rem;
      -o-border-radius: 1.5rem;
      p {
        line-height: 2.4rem;
      }
      .see-more {
        a {
          text-decoration: none;
          font-weight: bold;
          color: $c-green;
        }
      }
    }
  }
}
