.account-site{
    margin-top: 140px;
    margin-bottom: 40px;
    &__wrapper{
        .account-title{
            text-align: center;
            margin-bottom: 20px;
        }
        .account-content{
            &__wrapper{
                .text-center{
                    a{
                        font-size: 16px;
                        text-decoration: none;
                    }
                }
                max-width: 50%;
                margin: 0 auto;
                .account-content__sign-in{
                    .divide{
                        margin: 20px auto;
                        text-align: center;
                        line-height: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{
                            display: inline-block;
                            background: #fff;
                            padding: 10px 10px;
                        }

                    }
                    .width-facebook{
                        background: #3B5998;
                        a{
                            text-decoration: none;
                            color: #fff;
                            i{
                                margin-left: 10px;
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                    .reset-password{
                        margin: 10px 0;
                        a{
                            text-decoration: none;
                            color: $c-orange;
                        }
                    }
                    input[type=text], input[type=password], input[type=email] {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                      }
                      button {
                        background-color: $c-orange;
                        color: white;
                        padding: 10px 20px;
                        margin: 8px 0;
                        border: none;
                        cursor: pointer;
                        width: 100%;
                        &:hover{
                            background-color: #000;
                        }
                      }
                      
                      button:hover {
                        opacity: 0.8;
                      }
                      
                      .cancelbtn {
                        width: auto;
                        padding: 10px 18px;
                        background-color: #f44336;
                      }
                      
                      .imgcontainer {
                        text-align: center;
                        margin: 24px 0 12px 0;
                      }
                      
                      
                      .container {
                        padding: 16px;
                      }
                      
                      span.psw {
                        float: right;
                        padding-top: 16px;
                      }
                }
            }
        }
    }
}
.sign-up{
    button[type=submit] {
        background-color: $c-orange;
        color: white;
        padding: 10px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 270px !important;
        font-size: 16px;
       
      }
      .btn-inner__trans{
          a{
              width: 270px;
              border-radius: 0;
              padding: 5px 0;
              text-transform: unset;
          }
      }
      .divide{
          width: 270px;
          
      }

   
    

}


//RESPONSIVE FOR PHONE
@media (max-width: 767px){ 
    .account-site__wrapper .account-content__wrapper{
        max-width: 100%;
    }
 }


