.banner-default{
    &__bg{
        img{
            // max-height: 328.13px;
            width: 100%;
            object-fit: cover;
        }
    }
}
.section-item{
    margin-bottom: 30px;
    &__wrapper{
        .item-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
            &__cat{
                &-title{
                    margin-right: 50px
                }
                display: flex;
                align-items: center;
                &-main{
                    .btn-group{
                        margin-right: 10px;
                        > button, .btn .dropdown-toggle{
                            &::after{
                                position: absolute;
                                right: 30px;
                                top: 50%;
                                transform: translateY(-50%);
                                content: '\f0d7';
                                color: #fff;
                                font-size: 20px;
                            }
                            font-size: 13px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            position: relative;
                            width: 181px;
                            height: 40px;
                            padding: 0;
                            padding-right: 30px;
                            margin-top: 0;
                            margin-bottom: 0;
                            background-color: #333;
                            cursor: pointer;
                            border-radius: 0;
                        }
                    }
                    ul, .dropdown-menu{
                        width: 100%;
                        li{
                            
                            background-color: #fff;
                            border-top: 1px solid #d8d8d8;
                            a{
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                min-height: 60px;
                                font-size: 13px;
                                color: #000;
                                padding: 10px 20px;
                                flex-direction: column;
                                
                            }
                        }
                    }
                }
            }

            &__filter{
                .btn-group{
                    display: flex;
                    align-items: center;
                    button, .dropdown-toggle{
                         padding-left: 5px;
                         padding-right: 5px;
                         color: #000;
                         padding-top: 0;
                         padding-bottom: 0;
                         &:hover{
                            color: $c-orange;
                             &::after{
                                color: $c-orange;
                            }
                         }
                     }
                     > ul, .dropdown-menu{
                         width: 100%;
                         top: 120% !important;
                        transform: translate3d(0, 0, 0) !important;
                        padding: 10px;
                        margin-top: 5px;
                        box-shadow: 0 0 10px 0 #d7d7d7;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            top: -6px;
                            right: 53px;
                            width: 10px;
                            height: 10px;
                            -webkit-transform: rotate(
                            45deg
                            );
                                transform: rotate(
                            45deg
                        );
                            background-color: #fff;
                            border-left: 1px solid #d8d8d8;
                            border-top: 1px solid #d8d8d8;

                        }
                        li{
                            padding-bottom: 5px;
                            padding-bottom: 5px;
                            display: flex;
                            
                            a{
                                padding: 5px;
                                width: 100%;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                        .active{
                            a{
                                color: $c-orange;
                            }
                        }
                     }
                }
            }
            
        }
        .item-main{
            .main-list{
                margin-bottom: 40px;
                .list-img{
                    position: relative;
                    display: inline-block;
                    img:nth-child(1){
                        transition: all .3s ease;
                      
                    }
                    img:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        opacity: 0;
                        transition: all 0.3s ease;
                        visibility: hidden;
                    }
                    
                    &:hover{
                        img:nth-child(1){
                            opacity: 0; 
                            visibility: hidden;
                        }
                        img:nth-child(2){
                            opacity: 1;
                            visibility: visible;
                        }
                        
                    }
                }
                .list-content{
                    height: 181px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    justify-content: space-between;
                    .list-title{
                        text-decoration: none;
                        font-size: 13px;
                        padding: 5px 0;
                        line-height: 1.4;
                        flex: 1;
                        display: -webkit-box !important;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis
                    }
                    .list-review{
                        text-decoration: none;
                        &__active{
                            display: block;
                            font-size: 16px;
                            text-decoration: none;
                            img{
                                margin: 0 2px;
                                width: 11.8px;
                                height: 11.8px;
                            }
                        }
                        &__none{
                            font-size: 14px;
                            color: #666666;
                        }
                        
                    }
                    .list-price{
                        font-size: 18px;
                        font-weight: bold;
                        padding-top: 10px;
                        padding-bottom: 15px;
                        display: flex;
                        align-items: flex-end;
                        line-height: 1;
                        &__sale{
                            font-weight: normal;
                            margin-left: 15px;
                            span, .text-decoration-line-through{
                                margin-right: 5px;
                            }
                        }
                    }
                    .list-coupon{
                        margin-bottom: 5px;
                        margin-left: -3px;
                        span{
                            padding: 3px 10px;
                            font-size: 12px;
                            color: $c-orange;
                            border: 1px solid $c-orange;
                            border-radius: 3px;
                            display: inline-block;
                        }
                    }
                    .list-inner{
                        display: inline-flex;
                        width: 100%;
                        height: 36px;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #000;
                        transition: all .2s;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            background: $c-orange;
                            color: #fff;
                            border-color: $c-orange;
                        }
                    }
                    .free-shipping{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


//RESPONSIVE FOR IPAD
@media (min-width: 768px) and (max-width: 1023px){
    .section-item__wrapper .item-header__cat-main .btn-group > button, .section-item__wrapper .item-header__cat-main .btn-group .btn .dropdown-toggle{
        width: 160px;
    }
   

}

//RESPONSIVE FOR PHONE
@media (max-width: 767px){
    .section-item__wrapper .item-header{
        flex-direction: column;
    }
    .section-item__wrapper .item-header__cat-title{
        margin: 0;
    }
    .section-item__wrapper .item-header__cat{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-item__wrapper .item-header__cat-main{
        display: flex;
        
    }
    .section-item__wrapper .item-header__cat-main .btn-group{
        margin: 0;
        margin-bottom: 20px;
    }
    .section-item__wrapper .item-main .main-list .list-content .list-price{
        justify-content: center;
    }
    .section-item__wrapper .item-main .main-list{
        text-align: center;
    }
    .section-item__wrapper .item-header__cat-main .btn-group > button, .section-item__wrapper .item-header__cat-main .btn-group .btn .dropdown-toggle{
        width: 160px;
    }
    
   
}