


.slick-slide {
    &:focus {
        outline: none;
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}


//DOT

.dots-custom{
    margin-top: 3rem;

    .slick-dots {
        position: static;
        top: 0;
        display: flex;
        justify-content: center;
    }
    .slick-dots li{
        margin: 0 1rem;
    }
    .slick-dots li button:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 5px;
        border-radius:2rem;
        text-align: center;
        opacity: 0.1;
        background: #000;
        -webkit-border-radius:2rem;
        -moz-border-radius:2rem;
        -ms-border-radius:2rem;
        -o-border-radius:2rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}
    
    .slick-dots li button:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 5px;
        border-radius: 2rem;
        content: '';
        text-align: center;
        opacity: 0;
        background: #000;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}
    
    .slick-dots li.slick-active button:before {
        opacity: 0;
    }
    
    .slick-dots li.slick-active button:after {
        content: '';
        background: $c-default;
        width: 3rem;
        height: 5px;
        border-radius: 2rem;
        opacity: 1;
        border: none;
        margin-bottom: 2px;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}
    
}


@include Responsive(PHONE){
    .slick-dots li{
        width: 40px;
    }
    .slick-dots li button:after{
        width: 40px;
    }
    .slick-dots li button::before{
        width: 40px;
    }
    .slick-dots li.slick-active button:after{
        width: 40px;
    }

}