.btn-customer{
    display: inline-flex;
    align-items: center;
   min-height: 4rem;
   @include Responsive (IPAD){
       display: none;
   }
    a{
        display: inline-flex;
        padding: 1.2rem 3rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        text-decoration: none;
        position: relative;
        span{
            z-index: 2;
        }
        &:after{
            position: absolute;
            bottom: 0;
            left: 50%;
            content: '';
            background: $c-orange;
            height: 0;
            width: 0;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            z-index: 1;
            transform: translate(0, -50%);
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
}
        &:hover{
            &:after{
            width: 100%;
            height: 100%;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            }
            span{
                color: #fff;
            }

        }
        
}

}
.btn-exp{
    display: inline-flex;
    align-items: center;
     min-height: 4rem;
    a{
        background: #fff;
        padding: 1.2rem 3rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        text-decoration: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        span{
            transition: all 0.1s ease;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -ms-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
}
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
            background: $c-orange;
            color: #fff;
        }
    }
}
.btn-scroll{
    display: inline-flex;
    align-items: center;
    min-height: 3rem;
    a{
        padding:5px 3.5rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        text-decoration: none;
        border: 1px solid $c-default;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        &:hover{
            background: $c-orange;
            border-color: $c-orange;
            span{
                color: #fff;
                letter-spacing: 0.2rem;
            }
        }
        span{
            color: $c-default;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
    }

}
.see-more{
    display: inline-flex;
    align-items: center;
    a{
        text-decoration: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width:  calc(100% + 1rem);
            transform: translate(-50%, -50%);
            height: 0;
            background: $c-green;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            z-index: 1;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
}
               
        span{
            position: relative;
            transition: all 0.1s ease;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -ms-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            color: $c-green;
            z-index: 10;
        }
        &:hover{
            &:after{
                color: #fff;
                height: calc(100% + 1rem);
            }
            span{
                color: #fff;
                letter-spacing: 0.2rem;
            }
        }
       
    }

}