*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper-body{
    overflow-x: hidden;

}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 14px;
    color: $c-primary;
    font-weight: 300;
    position: relative;

   
}
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li{
        a{
            text-decoration: none;
        }
       
    }
}

