//COLOR TU PHUONG
$c-orange: #fa6400;
$c-font: #989898;
$c-green: green;
$c-green-down: #4E7A6C;
$c-green-up: #00473C;
$c-green-default: #7A9A01;
$c-green-font:#CBE19F;
$c-black: #333333;
$c-pink: #f91e1e;
$c-grey: #BDBDBD;
$c-grey-up: #F8F8F8;
$c-grey-upper: #E6E6E6;
$c-white: #fff;
$c-blue: #4A90E2;
$c-blue-up: #00acff;
$c-active: #C4A053;
$c-primary: #171717;

.c-primary{
    color: $c-primary;
}
.c-active{
    color: $c-active;
}
.c-white{
    color: $c-white;
}
.c-blue{
    color: $c-blue;
}

.c-blue-up{
    color: $c-blue-up;
}
.c-black{
    color: $c-black;
}
.c-green-font{
    color: $c-green-font;

}
.c-orange{
    color: $c-orange;
}
.c-font{
    color: $c-font;
}
.c-green{
    color: $c-green;
}
.c-green-down{
    color: $c-green-down;
}
.c-green-up{
    color: $c-green-up;
}
.c-pink{
    color: $c-pink;
}
.c-grey{
    color: $c-grey;
}
//BACKGROUND

.bg-black{
    background-color: $c-black;
}
.bg-orange{
    background-color: $c-orange;
}
.bg-font{
    background-color: $c-font;
}
.bg-green-default{
    background-color: $c-green-default;
}
.bg-green{
    background-color: $c-green;
}
.bg-green-down{
    background-color: $c-green-down;
}
.bg-green-up{
    background-color: $c-green-up;
}
.bg-pink{
    background-color: $c-pink;
}
.bg-grey{
    background-color: $c-grey;
}
.bg-grey-up{
    background-color: $c-grey-up;
}

.bg-blue{
    background-color: $c-blue;
}
.bg-blue-up{
    background-color: $c-blue-up;
}
//FONT-SIZE

.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 30px;
}
.fs-34{
    font-size: 34px;
}
.fs-36{
    font-size: 36px;
}
.fs-40{
    font-size: 40px;
}
.fs-44{
    font-size: 44px;
}
.fs-48{
    font-size: 48px;
}
.fs-54{
    font-size: 54px;
}
.fs-60{
    font-size: 60px;
}
.fs-75{
    font-size: 75px;
}
@media (min-width: 768px) and (max-width: 1023px){
    .fs-16{
        font-size: 14px;
    }
    .fs-18{
        font-size: 16px;
    }
    .fs-24{
        font-size: 18px;
    }
    .fs-26{
        font-size: 20px;
    }
    .fs-28{
        font-size: 24px;
    }
    .fs-32{
        font-size: 24px;
    }
    .fs-30{
        font-size: 24px;
    }
    .fs-34{
        font-size: 24px;
    }
    .fs-36{
        font-size: 24px;
    }
    .fs-40{
        font-size: 24px;
    }
    .fs-44{
        font-size: 24px;
    }
    .fs-48{
        font-size: 24px;
    }
    .fs-54{
        font-size: 24px;
    }
    .fs-60{
        font-size: 24px;
    }
    .fs-75{
        font-size: 24px;
    }

}
@media (max-width: 767px) {
   
    .fs-16{
        font-size: 14px;
    }
    .fs-18{
        font-size: 16px;
    }
    .fs-24{
        font-size: 18px;
    }
    .fs-26{
        font-size: 20px;
    }
    .fs-28{
        font-size: 24px;
    }
    .fs-32{
        font-size: 24px;
    }
    .fs-30{
        font-size: 24px;
    }
    .fs-34{
        font-size: 24px;
    }
    .fs-36{
        font-size: 24px;
    }
    .fs-40{
        font-size: 24px;
    }
    .fs-44{
        font-size: 24px;
    }
    .fs-48{
        font-size: 24px;
    }
    .fs-54{
        font-size: 24px;
    }
    .fs-60{
        font-size: 24px;
    }
    .fs-75{
        font-size: 24px;
    }
}
//FONT-FAMILY
$font-primary: 'Helvetica Neue';
$font-default: 'SVN-Athena';
$font-awesome: "FontAwesome";
